<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="plugin.stripe.stripeelements">

    <application >
        <activity
            android:name=".StripeCardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation">
        </activity>
    </application>
</manifest>
